_templates_suffix: .jinja2

_exclude:
  # The default _exclude settings minus the copier.yaml
  # See: https://copier.readthedocs.io/en/stable/configuring/#exclude
  - "copier.yaml"
  - "copier.yml"
  - "~*"
  - "*.py[co]"
  - "__pycache__"
  - ".git"
  - ".DS_Store"
  - ".svn"

  # Do not copy the .copier-answers.yml file
  #
  # This is a "middle" level template so, it has a .copier-answers.yml and it required to generate one.
  # In some contexts - e.g. the GitHub Action's runner with Ubuntu - it causes some issues.
  - ".copier-answers.top-level.yml"

  # Do not copy the CHANGELOG.md file
  - "CHANGELOG.md"

  # This is for testing of the copier command
  - ".fixtures"

  # The requirements.txt is for testing of the copier command
  # We do not need it unless, if we want to set up a Python template.
  - "requirements.txt"

license_owner:
  type: str
  help: The owner of the license
  default: "{{ license_owner }}"

license_year_start:
  type: int
  help: The year the license starts (by default the current year, when the new Copier template is created)
  default: 2025
